/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    background: url("http://127.0.0.1:8000/media/photos/cover/leave-bg.webp") no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Droid Serif', serif;
    
}